<div class = "thanks_box">
    <h1>投票していただきありがとうございます!</h1>
</div>


<h2>みなさんの投票結果</h2>
<div>
    <p>悟空 <%= $gokuu %>票</p>
</div>


<div>
    <p>ベジータ<%= $vegita %>票</p>
</div>

<div>
    <p>ブロリー <%= $buro %>票</p></p>
</div>

<div>
    <p>ヤムチャ <%= $yamu %>票</p>
</div>

<%= link_to("topページに戻る", "/") %>
